# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml



# IntelliJ IDEA
.idea/

# Maven
target/
*.iml
*.iws
*.ipr

# Compiled files
*.class

# Logs
*.log

# User-specific files
*.iml
*.iws
.idea/
.idea_modules/
*.db

# OS-specific files
.DS_Store
Thumbs.db
